:root {
    --borderrad: 20px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 1em;
}

header {
    padding: 40px;
    color: darkmagenta;
    background-color: lightpink;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
}

header>h1 {
    font-size: clamp(2rem, 1.5vw, 4rem);
    padding: 20px;
    text-align: center;

}

header>h2 {
    margin-left: 10px;
}

nav {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: flex-end;
    gap: 20px;
    background-color: #CFFFA1;
    align-items: flex-end;
    margin: 2%;
    padding: 20px;
    border-radius: var(--borderrad);
}

nav a {
    text-decoration: none;
    color: #234106;
}

a:hover {
    border: 2px #B2BEA7 solid;
    border-radius: 5px;
    box-shadow: 5px #234106;
}

#aboutme {
    display: flex;
    justify-content: center;
    background-color: #D6C2BF;
    flex-direction: column;
    align-items: center;
    border-radius: var(--borderrad);
    padding: 30px;
    margin: 20px;
    text-align: center;
    font-size: clamp(3rem, 1.5vw, 7rem);
    gap: 15px;
}

h2,
h4 {
    background-color: #df779a;
    border-radius: var(--borderrad);
    padding: 10px;
    font-size: clamp(1.5rem, 1.5vw, 5rem)
}

img {
    border-radius: 20px;
}

p {
    background-color: #CFFFA1;
    padding: 20px;
    border-radius: var(--borderrad);
    font-size: clamp(1rem, 1vw, 3rem);
}

#projects {
    background-color: #D6C2BF;
    border-radius: var(--borderrad);
    padding: 30px;
    min-height: fit-content;
    place-items: center;
}

#projects h2 {
    max-width: 150px;
    font-size: 22px;
    text-align: center;

}

.mywork {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    max-height: 600px;
    max-width: 900px;
    gap: 15px;
}

article>h3 {
    margin: 10px;
    font-size: clamp(1.3rem, 1vw, 3rem);
}

article {
    max-width: 50%;
}

#mainarticle {
    max-width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: lightpink;
    gap: 50px;
    border-radius: var(--borderrad);
    margin: 20px;
    padding: 20px;
}

footer a {
    text-decoration: none;
    color: #234106;
    background-color: #EFFFBE;
    padding: 10px;
    border-radius: 10px;
}



#myphoto {
    max-width: 300px;
}

@media screen and (max-width: 768px) {

    nav,
    footer {
        flex-direction: column;
        gap: 15px;
    }

    .mywork {
        display: inline-block;
        place-items: center;
    }

    article img {
        max-width: 125px;
    }

    #mainarticle img {
        max-width: 250px;
    }
}